---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Venkata.Info Astro Scaffold</title>
  </head>
  <body>
    <main>
      <h1>Venkata.Info Astro Scaffold</h1>
    </main>
  </body>
</html>
